#secondcarInventry{
    display : grid;
    grid-template-columns: repeat(3,1fr);

    gap:30px;

    

}

.filter{
    display : flex;
    gap:30px;
    /* float:left; */
    margin-Bottom:40px;
}

.flttertag{
    width: 200px;
}